---
- name: Jenkins | Install Jenkins plugins
  jenkins_plugin:
    name: "{{ item.name }}"
    version: "{{ item.version }}"
    jenkins_home: "{{ jenkins_home_path }}"
    url_username: "{{ jenkins_admin_username }}"
    url_password: "{{ jenkins_admin_password }}"
    url: "{{ jenkins_url }}"
  with_items:
    - "{{ jenkins_default_plugins }}"
    - "{{ jenkins_plugins }}"
  notify: safe restart jenkins

- name: Jenkins | Force handlers
  meta: flush_handlers

- name: Jenkins | Wait for Jenkins to fully startup before continue
  uri:
    url: "{{ jenkins_url }}"
    status_code: 200
  retries: "{{ jenkins_check_restart_num_retries }}"
  delay: "{{ jenkins_check_restart_delay }}"
  register: result
  until: result.status == 200
  changed_when: false
