import jenkins.security.s2m.*
import hudson.plugins.sshslaves.SSHLauncher
import hudson.slaves.DumbSlave
import hudson.slaves.RetentionStrategy
import hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy

def instance = Jenkins.getInstance()

instance.addNode(
                 new DumbSlave("{{ item.name }}", "{{ item.description }}",
                               "{{ jenkins_home_path }}", "{{ item.executors }}",
                               Node.Mode.EXCLUSIVE, "{{ item.label }}",
                               new SSHLauncher("{{ item.hostname }}", 22, "jenkins", "", "", "", "", 0, 3, 5,
                                               new KnownHostsFileKeyVerificationStrategy()),
                               new RetentionStrategy.Always(),
                               new LinkedList()
                               )
                )

instance.save()
